.main {
  justify-self: flex-end;
  align-self: self-end;
  text-align: center;
  display: grid;
  gap: 30px;
  padding: 30px;
}

.main h1 {
  color: var(--c-p3);
  font: 500 3rem/1.2 "arial";
}
.main p {
  color: var(--c-3);
  font: 500 1.1rem/1.3 "arial";
}
/*-------------------main-fim-------------------*/
