#servicos {
  display: grid;
  gap: 20px;
  max-width: 800px;
  margin-top: 60px;
}

#servicos h1 {
  text-align: center;
  font: 500 2.5rem/1.3 "arial";
  color: var(--c-p1);
}
#servicos h1 p {
  text-align: center;
  color: var(--c-p3);
  font: 500 1rem/1 "arial";
  margin-top: 10px;
}

.servicos-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24);
  border: 3px solid var(--c-f);
  padding: 10px;
  margin-top: 20px;
}

.servicos-list li {
  padding: 10px;
  font: 600 1.3rem/1 "arial";
  cursor: pointer;
  color: var(--c-p0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.164);
  border: 3px solid var(--c-f);
}
.servicos-list li:hover {
  color: var(--c-p0);
  box-shadow: none;
  border-color: var(--c-p3);
}

.servicos-list .local {
  color: var(--c-p0);
  box-shadow: none;
  border-color: var(--c-p3);
  transition: 0.4s;
}

#servicos-fornecidos .servico {
  display: none;
}
#servicos-fornecidos .servico.consulta {
  display: grid;
}

#servicos-fornecidos.showConsultas .consulta {
  display: grid;
}

#servicos-fornecidos.showExames .exames {
  display: grid;
}
#servicos-fornecidos.showExames .servico.consulta {
  display: none;
}

#servicos-fornecidos.showOpiniao .opiniao {
  display: grid;
}

#servicos-fornecidos.showOpiniao .servico.consulta {
  display: none;
}

.servicos-menu {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24);
  border: 3px solid var(--c-f);
  padding: 10px;
}

.servico {
  border: 3px solid var(--c-p3);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.servico-text {
  background-color: var(--c-p3);
  padding: 10px;
}
.servico-text h2 {
  color: var(--c-f);
  font: 600 1.6rem/1.2 "arial";
  margin-bottom: 10px;
}
.servico-text p {
  color: var(--c-6);
  font: 500 1.1rem/1.4 "arial";
  margin-bottom: 10px;
}

.servico-menu {
  border: 3px solid var(--c-f);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.servico-menu li {
  font: 500 1.1rem/1.4 "arial";
  color: var(--c-p2);
  display: flex;
  align-items: center;
  gap: 10px;
}

.servico-menu li::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--c-p3);
  border-radius: 50%;
}
